body {
  font-family: 'Raleway', sans-serif;
  background-color:rgb(240,240,239);
  color:rgb(92,83,74);
}
.profile-picture {
  width:18vw;
  border-radius:50%;
  position:absolute;
  top:4.5vw;
  left:-9.5vw;
  border: 0.5vw solid rgb(207,199,176);
}
.identity-text {
  text-align:center;
  position:absolute;
  width:38vw;
  top:26vw;
  left:-19vw;
  line-height: 1vw;
  color: rgba(0,0,0,0.7);
}
h1 {
  font-size:4.5vw;
  padding:1vw;
}
h2 {
  font-size:2.5vw;
  color:rgb(175,88,95)
}
h3 {font-size:2.2vw;}
.sub-identity-top {
  height: 14vw;
  background-color:rgb(175,88,95);
  text-align:center;
}
.sub-identity-bottom {
  background-color:rgb(207,199,176);
  height:1000vw;
}
.identity {
  position:fixed;
  width:20%;
  left:80%;
}
.content {
  width:56%;
  float:left;
  padding:2vw;
}
.profile {
  font-style:italic;
  font-size:16px;
  margin: 7vw 0vw 6vw 0vw;
}
.buttons {
  background-color:rgba(200,194,58,0.95);
  color:white;
  border-radius:1vw;
  text-align:center;
  padding:0.4vw;
}
.sections {margin-top:10vw;}
.no-underline {text-decoration:none;}
.lists {line-height:30px;}
a:link {color: rgb(92,83,74);}
a:visited {color: rgb(144,142,99);}
a:hover {background-color: rgb(207,199,176);}
a:active {background-color: rgb(207,199,176);}
a:focus {background-color: rgb(207,199,176);}