
@import url('https://fonts.googleapis.com/css?family=Baloo');

*, *::after {
  list-style-type:none;
  margin:0;
  padding:0;
}
body {
  font-family: 'Baloo',sans-serif;
  color:rgb(63, 77, 63);
  background-color:rgb(255, 203, 0);
}
h1 {
  text-align:center;
  color:rgb(147, 34, 141);
  animation: pulse 1.5s 3;
  margin:0px;
}
h2 {
  text-align:center;
  color:white;
  animation: pulse 1.5s 2;
}
h3 {
  text-align:center;
  color:rgb(50, 185, 45);
  animation: pulse 1.5s 1;
}
ul {list-style-type:none;}
img {
  width:75%;
  margin-left:15%;
}
p {text-align:center;}
#grid-floats:after {
  content: "";
  display: block;
  clear: both;
}
#grid-floats li {
  float:left;
  box-sizing:border-box;
  margin:1.2%;
  padding:2%;
}
#grid-flex{
  display:flex;
  flex-wrap:wrap;
  align-content:space-around;
  justify-content:space-around;
}
#grid-flex li{
  padding:2%;
  box-sizing:border-box;
}
li {background-color:white;}
li:hover {
  border-color:rgb(177, 1, 86);
  animation: pulse 1.5s 1;
  }
li:hover h3 {
  text-align:center;
  color:rgb(40, 141, 37);
}
li:hover p {color:rgb(25, 31, 25);}

@keyframes pulse {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@media screen and (min-width:1025px){
  h1 {font-size:7vw; margin-top:3vw;}
  h2 {font-size:5vw; margin:1.5vw;}
  h3 {font-size:1.9vw;margin:1vw;}
  P {font-size:1.3vw;}
  li {
    border: 1vw solid rgb(242, 0, 117);
    border-radius:4vw;
  }
  #grid-floats li {width:22.6%; height:46vw;}
  #grid-floats li:nth-child(1) {width:47.6%}
  #grid-floats li:nth-child(1) h3 {font-size:3vw;}
  #grid-floats li:nth-child(n+12) {margin-left:7.5%;}
  #grid-flex {height:198vw;}
  #grid-flex li {width:22.5%; height:47vw;}
  #grid-flex li:nth-child(1) {flex-basis:47.5%}
  #grid-flex li:nth-child(1) h3 {font-size:3vw;}
}

@media screen and (min-width:416px) and (max-width:1024px){
  h1 {font-size:8vw; margin-top:4vw;}
  h2 {font-size:5vw; margin:1.5vw;}
  h3 {font-size:2.5vw; margin:2vw;}
  P {font-size:1.7vw;}
  li {
    border: 1.4vw solid rgb(242, 0, 117);
    border-radius:6vw;
  }
  #grid-floats li {width:30.9%; height:59vw;}
  #grid-floats li:nth-child(-n+2) {width:47.5%}
  #grid-floats li:nth-child(-n+2) h3 {font-size:3.5vw;}
  #grid-flex {height:335vw;}
  #grid-flex li {flex-basis:30.5%; height:64vw;}
  #grid-flex li:nth-child(-n+2) {flex-basis:47%}
  #grid-flex li:nth-child(-n+2) h3 {font-size:3.5vw;}
}

@media screen and (max-width:415px){
  h1 {font-size:12vw;margin-top:5.5vw;}
  h2 {font-size:8vw; margin:4vw;}
  h3 {font-size:4.55vw;}
  P {font-size:3.3vw;}
  li {
    border: 2.5vw solid rgb(242, 0, 117);
    border-radius:10vw;
  }
  #grid-floats li {width:47.3%; height:130vw;}
  #grid-floats li h3 {margin:5vw;}
  #grid-floats li:nth-child(1) {width:96.9%}
  #grid-floats li:nth-child(1) P {font-size:4vw;}
  #grid-floats li:nth-child(1) h3 {font-size:7vw;}
  #grid-floats li:nth-child(14) {margin-left:25%;}
  #grid-flex {height:1075vw;}
  #grid-flex li {flex-basis:47.3%; height:132vw;}
  #grid-flex li:nth-child(1) {flex-basis:96.5%}
  #grid-flex li:nth-child(1) P {font-size:4vw;}
  #grid-flex li:nth-child(1) h3 {font-size:7vw;}
}

